[submodule "pheromone"]
	path = pheromone
	url = https://github.com/fai-saarland/pheromone.git
	branch = master
[submodule "asnets-cpddl"]
	path = asnets-cpddl
	url = https://gitlab.com/danfis/cpddl
	branch = master
[submodule "fd-action-policy-testing"]
	path = fd-action-policy-testing
	url = https://github.com/fai-saarland/fd-action-policy-testing.git
	branch = policy-testing-main
[submodule "gnn"]
	path = gnn
	url = https://github.com/fai-saarland/gnn-policy-kr22.git
	branch = master
