[submodule "pheromone"]
	path = pheromone
	url = ../pheromone
[submodule "asnets-cpddl"]
	path = asnets-cpddl
	url = https://gitlab.com/danfis/cpddl
	branch = 75-asnets
[submodule "dynet"]
	path = dynet
	url = https://github.com/clab/dynet.git
